<div class="card p-5">
    <h3 class="display-4">NodeJS and MongoDB</h3>
    <p class="lead"> Starting nodeJS and MongoDB.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum obcaecati voluptatum recusandae modi labore
        saepe rerum ipsum molestias nihil consectetur hic minima, illo consequuntur esse aspernatur ad? Sint, et
        obcaecati! Porro, soluta.</p>
    <a href="https://github.com/JhuderPalomino" class="btn btn-primary ">Jhuder Palomino</a>
</div>